*{margin:0;padding:0;box-sizing:border-box;} 
body{font-family:'Garamond';background:linear-gradient(120deg,#1f1e1f,#4a4a4b);color:#fff;}
header{display:flex;justify-content:space-between;align-items:center;padding:20px 50px;}
header .logo{font-family:'Garamond';font-size:24px;}
nav ul{list-style:none;display:flex;gap:30px;}
nav ul li a{color:#fff;text-decoration:none;font-weight:400;}
.hire-btn{padding:10px 20px;border:1px solid #fff;border-radius:10px;text-decoration:none;color:#fff;}
.hero{display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;height:80vh;background:linear-gradient(120deg,#40070f,#09112d);}
.hero h1{font-family:'Garamond';font-size:48px;margin-bottom:10px;}
.hero p{font-size:14px;letter-spacing:1px;}
.hero img{width:300px;border-radius:50%;margin-top:40px;}
.social{background:linear-gradient(120deg,#131313,#231f34);padding:20px;display:flex;justify-content:center;gap:50px;}
.social a{color:#fff;font-family:'Garamond';text-decoration:none;font-size:20px;}
footer {
    background-color:linear-gradient(120deg,#8a848a,#28286e);
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}


 #about {
    margin: 0;
    font-family: Garamond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #2f0404, #140b39, #200637, #3f0303);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate;
  }
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  #about p{
    color: white;
  }
  .card {
    width: 500px;
    padding: 20px;
    background: #cfc9c9;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    margin-bottom: 20px;
  }
  .card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 221, 255, 0.25);
  }
  .button-class {
    padding: 15px 40px;
    background: #b9b0b0;
    color: #0e0e0e;
     border-radius: 15px;
    border: 2px solid #fff;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
  }
  .button-class:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(12, 225, 225), 0 0 30px #0ff;
    color: rgb(14, 121, 121);
    border-color: #0ff;
  }
  /* .glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 50px;
    color: white;
    margin-top: 20px;
  } */
  .float {
    animation: floatAnim 3s ease-in-out infinite;
  }
  @keyframes floatAnim {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

  h1{
    color: aliceblue;
  }


  .skill-cards {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

 .card {
    width:400px;
    padding: 20px;
    background: #cfc9c9;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    margin-bottom: 20px;
  }
  .card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 221, 255, 0.25);
  }

 p, h3{
    color: black;
  }


  h2{
    color:black
  }

  h1{
    color: rgb(255, 255, 255);
  }

   .button-class {
    padding: 15px 40px;
    background: #b9b0b0;
    color: #0e0e0e;
     border-radius: 15px;
    border: 2px solid #fff;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
  }
  .button-class:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(12, 225, 225), 0 0 30px #0ff;
    color: rgb(14, 121, 121);
    border-color: #0ff;
  }


#skills {
 /* background:linear-gradient(120deg,#40070f,#09112d);
  font-family: garamond;
  color: white;
  text-align: center; */
    /* margin: 0;
    font-family: Garamond;
    height: 100vh;
    display: flex;
    flex-direction: column;*/
    align-items: center;
    justify-content: center; 
    background: linear-gradient(45deg, #2f0404, #140b39, #200637, #3f0303);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate;
}

.skills-section h2 {
  margin-bottom: 30px;

  color: #adbfb5;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-box {
  width: 200px;
  
}

.icon-circle {
  width: 80px;
  height: 80px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-size: 36px;
}

.skill-box h3 {
  margin: 10px 0 5px;
}


.skill-box p {
  font-size: 14px;
  color: #ccc;
}

 .underline{
      width:92px;
      height:4px;
      background:linear-gradient(120deg,#302f2f,#a7a9b0);
      margin:8px auto 34px;
      border-radius:4px;
      box-shadow:0 3px 8px rgba(119, 116, 116, 0.4);
    }

 .underline1{
      width: 400px;
      height:4px;
      background:linear-gradient(120deg,#302f2f,#a7a9b0);
      margin:9px auto 55px;
      border-radius:4px;
      box-shadow:0 3px 8px rgba(119, 116, 116, 0.4);
    }

     @media (max-width:670px)
     {
      .skill-cards{ 
    
      flex-direction: row; }
  
    }


/* .sticky { 
    position: -webkit-sticky;
position: fixed;  
position: sticky; 
top: 0; 
width: 100%;

} */

/* .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  float : left;

} */

/* .navbar a{
    float: right;
    display: block;
    text-align: center;
    padding:14 px;
    text-decoration: none;
} */

.navbar {
  position: fixed;
  float: right;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #312f2f;
  color: #fff;
  padding: 1em;
  text-align: center;
  z-index: 1000;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Garamond';

}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin-right: 10px;
  margin-left: 10px;
  
}


p3{
  color: white;
  font-weight: bolder;
}

p2{
  color: #000;
}


/* body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  background: #a7abaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.circle:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 183, 255, 0.2);
}

.circle img {
  width: 55px;
 height: 55px;
}

:root{
      --bg: #323232;
      --card-bg: rgba(0, 251, 255, 0.04);
      --muted: #cfcfcf;
      --accent: #04ea00;
      --glass: rgba(255,255,255,0.03);
      --gap: 34px;
      --max-width: 1100px;
      --radius: 10px;
    }

    /* *{box-sizing:border-box}
    html,body{height:100%} */



       .navi a{
color:rgb(2, 3, 3);
border-radius: 10px;
text-decoration: none;
padding:10px;
margin: 26px 0;

  }

.navi{
    text-align: right;
    padding:50px;
}


  .button-class {
    padding: 25px 50px;
    background: #b9b0b0;
    color: #0e0e0e;
     border-radius: 15px;
    border: 2px solid #fff;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    
  }
  .button-class:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(12, 225, 225), 0 0 30px #0ff;
    color: rgb(14, 121, 121);
    border-color: #0ff;
  }


/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  z-index: 1000;
} */

.logo{
  /* display: inline;
  text-align: left;
  justify-content: left;
  margin-left: 5%;
  margin-bottom: 0px; */
  width: 25%;
  font-size: 25px;
  font-weight: bold;
  color: white;

}

.nav-link{
  width: 75%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;


}

.nav-link a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  transition: 0.3s ease;
}

.nav-links a:hover{
  color:#1f1e1f
}

/* ...................................... */

#projects{
  margin: 0;
    font-family: Garamond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #2f0404, #140b39, #200637, #3f0303);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate;
}
.project_card {
    width: 250px;
    padding: 20px;
    background: #cfc9c9;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    margin-bottom: 20px;
  }
  .project_card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 221, 255, 0.25);
  }

  h3{
    color: black;
  }


  h2{
    color:black
  }

  h1{
    color: rgb(255, 255, 255);
  }

   .button-class {
    padding: 15px 40px;
    background: #b9b0b0;
    color: #0e0e0e;
     border-radius: 15px;
    border: 2px solid #fff;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
  }
  .button-class:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(12, 225, 225), 0 0 30px #0ff;
    color: rgb(14, 121, 121);
    border-color: #0ff;
  }


#project {
 background:linear-gradient(120deg,#40070f,#09112d);
  font-family: garamond;
  color: white;
  text-align: center;

}

.project-section h2 {
  margin-bottom: 30px;

  color: #adbfb5;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-box {
  width: 200px;
  
}



.skill-box h3 {
  margin: 10px 0 5px;
}


.skill-box p {
  font-size: 14px;
  color: #ccc;
}

 .underline{
      width:92px;
      height:4px;
      background:linear-gradient(120deg,#302f2f,#a7a9b0);
      margin:8px auto 34px;
      border-radius:4px;
      box-shadow:0 3px 8px rgba(119, 116, 116, 0.4);
    }

 .underline1{
      width: 400px;
      height:4px;
      background:linear-gradient(120deg,#302f2f,#a7a9b0);
      margin:9px auto 55px;
      border-radius:4px;
      box-shadow:0 3px 8px rgba(119, 116, 116, 0.4);
    }

    .name{
      font-weight: bolder;
      font-size: x-large;
      /* margin-bottom: px; */
      margin-left: 0px;
    }

.name{
  margin-left:0px;
}

.about-card{
  width: 75%;
  line-height: 45px;
}


#contacts {
  text-align: center;
  padding: 50px 20px;
  height: 80vh;
  justify-content: center;
  margin-top: 100px;
  margin: 0;
    font-family: Garamond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #2f0404, #140b39, #200637, #3f0303);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate;
}

.content-wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
.contact-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

textarea {
  height: 160px;
  resize: none;
}

.send-btn {
  margin-top: 18px;
  padding: 17px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  width: 100px;
  border-radius: 20px;
}

.send-btn:hover {
  background: rgb(227, 214, 214);
  color: black;
}

.contact-info {
  width: 300px;
  text-align: left;
}

.contact-info p {
  margin: 12px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
}